EyesOfNetwork release {{eon_version}}.{{eon_release}} ({{eon_surname}})
Kernel \r on an \m

EyesOfNetwork access  : https://{{ansible_hostname}}/
EyesOfNetwork website : https://www.eyesofnetwork.com/

